*{
    font-family: "Ubuntu", sans-serif;
}

header{
/*    position: fixed;
    left:0px;*/
}

header a{
    text-decoration: none;
}

header span{
    line-height: 85px;
}

#dashboardTitle{
    margin-top: 32px;
    margin-bottom: 32px;
}

main{
    display: flex;
    align-content: left;
    flex-flow: row wrap;
}

#leftmenu{
    min-height: 800px;
}

.accordion{
    cursor: pointer;
    line-height: 50px;
    text-align: left;
    transition: 0.3s;
}

.accordion.active{
    background-color:teal;
}

.accordionContent{
    display: none;
}

.accordionContent a{
    text-align: left;
}

/* .accordion:after{
    color: #f30000;
    content: '\02795';
    font-size: 12px;
    float: right;
} */

/* .accordion.active:after {
    content: "\2796";
} */

.MarginColumn{
    visibility: hidden;
}

#displayContainer{
    /*margin: 0 auto;*/
    /*min-height: 700px;*/
}

#loginForm{
   margin-top: 260px;
}

#displayAccfArea{
    margin-top: 32px;
    margin-bottom: 32px;
}

.dashboardAlert{
    min-height: 330px;
}

.dashboardContent{
    min-height: 200px;
}

.dashboardLine{
    margin-top: 32px;
    min-height: 24px;
    margin-bottom: 32px;
}

#dashboardLastContent{
    margin-bottom: 200px;
}

.backlink{
    margin-top: 1px;
    text-decoration: none;
}

footer{
    min-height: 85px;
}

footer span{
    line-height: 85px;
}

/*MEDIA QUERY MEDIUM SCREEN*/

@media screen and (min-width: 602px) and (max-width: 992px) {
    #headerCenter{
        display: none;
    }
}


/*MEDIA QUERY SMALL SCREEN*/

@media screen and (max-width: 601px) {    
/*    #headerLeft{
        width: auto;
    }*/
       
    #headerCenter{
        display: none;
    }

    form h2{
        font-size: 16px;
    }
    
    form label{
        font-size: 14px;        
    }
    
    form input{
        font-size: 12px;
    }
    
    #displayAccfArea h2{
        font-size: 16px;
    }

    table{
        font-size: 12px;
    }
    
    table h2{
        font-size: 16px;
    }
    
}