*{
    font-family: "Ubuntu", sans-serif;
}

header a{
    text-decoration: none;
}

header span{
    line-height: 85px;
}

#leftmenu{
    min-height: 800px;
    /*position: fixed;*/
    z-index:1;
    overflow-x: hidden;
}

.accordion{
    cursor: pointer;
    line-height: 50px;
    text-align: left;
    transition: 0.3s;
}

.accordion.active{
    background-color:teal;
}

.accordionContent{
    display: none;
}

.accordionContent a{
    text-align: left;
}

/* .accordion:after{
    color: #f30000;
    content: '\02795';
    font-size: 12px;
    float: right;
} */

/* .accordion.active:after {
    content: "\2796";
} */

.MarginColumn{
    visibility: hidden;
}

#displayContainer{
    margin: 0 auto;
    min-height: 700px;
}

#loginForm{
   margin-top: 260px;
}

#displayAccfArea{
/*    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;*/
    
    /*min-height: 600px;*/
}

.dashboardContent{
    min-height: 200px;
}

footer{
    min-height: 85px;
}

footer span{
    line-height: 85px;
}

/*MEDIA QUERY MEDIUM SCREEN*/

@media screen and (min-width: 602px) and (max-width: 992px) {
    #headerCenter{
        display: none;
    }
}


/*MEDIA QUERY SMALL SCREEN*/

@media screen and (max-width: 601px) {    
/*    #headerLeft{
        width: auto;
    }*/
       
    #headerCenter{
        display: none;
    }

    form h2{
        font-size: 16px;
    }
    
    form label{
        font-size: 14px;        
    }
    
    form input{
        font-size: 12px;
    }
    
    #displayAccfArea h2{
        font-size: 16px;
    }

    table{
        font-size: 12px;
    }
}

/*<--------------------------------------------->*/

div#conversation{
    position: fixed;
    top: 47%;
    left: 82%;
    background: lightblue;
    max-width: 25%;
    min-height: 280px;
    border-radius: 12px 12px 12px 12px;
    width: 266px;
}
textarea.form-control{
    width: 200px;
}
div#messages{
    width: 200px;
}