{# empty Twig template #}
{% extends "backoffice/layout.html.twig" %}

{% block title  %}
    <h1>Supprimer un produit</h1>
    {% endblock %}
    
    {% block content %}
        <div class="w3-border w3-border-green w3-col l3 w3-margin dashboardContent">supprimer un produit</div>
        {% endblock %}