{% extends "backoffice/layout.html.twig" %}

{% block content %}

<div class="w3-container w3-row-padding">
    
    <div class="w3-col l1 MarginColumn">Marge</div>

    <div class="w3-bar w3-card w3-col l11 w3-grey w3-margin-top w3-round-large">
        <button class="w3-bar-item w3-button" onclick="filterSelection('all')">Tout afficher</button>

        <div class="w3-dropdown-hover">
            <button class="w3-button">Dispositifs anti-incendie</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('desenfumage')">Désenfumage</button>
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('detection')">Détection incendie</button>
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('eclairage')">Eclairage de sécurité</button>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button">Dispositifs anti-intrusion</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('alarmes')">Alarmes</button>
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('acces')">Contrôle d'accès</button>
                <button class="w3-bar-item w3-button displayFilter" onclick="filterSelection('video')">Vidéo-surveillance</button>
            </div>
        </div>

        <div class="w3-dropdown-hover">
            <button class="w3-button">Dispositifs de prévention médicale</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button displayFilter" onclick="filterSelection('appel')">Appel Malade</a>
                <a href="#" class="w3-bar-item w3-button displayFilter" onclick="filterSelection('chutes')">Détection des chutes</a>
            </div>
        </div>
    </div>

</div>

    
<div class="w3-container w3-row-padding">

    <div class="w3-col l1 MarginColumn">Marge</div>

    <div class="container w3-col l11">
        <div class="filteredContent desenfumage w3-col l3">Désenfumage</div>
        <div class="filteredContent detection w3-col l3">Détection</div>
        <div class="filteredContent eclairage w3-col l3">Eclairage</div>
        <div class="filteredContent alarmes w3-col l3">Alarmes</div>
        <div class="filteredContent acces w3-col l3">Controle</div>
        <div class="filteredContent video w3-col l3">Video</div>
        <div class="filteredContent appel w3-col l3">Appel</div>
        <div class="filteredContent chutes w3-col l3">Chutes</div>
        <div class="filteredContent chutes w3-col l3">Chutes</div>
    </div>
    
</div>

{% endblock %}