{# empty Twig template #}
{% extends "backoffice/layout.html.twig" %}


    
    {% block content %}
     
       
    <div class="w3-col l3 MarginColumn">Marge</div>

    <div class="w3-border w3-border-blue w3-card w3-col l6 w3-margin-top" id="displayAccfArea">
        <form class="w3-container" id="employeeForm">

            <h2 class="w3-teal">Modifier un produit</h2>

            <label>Fabriquant</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Catégorie</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Sous catégorie</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Titre</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Description</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Prix HT</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Prix TVA</label>
            <input class="w3-border w3-input w3-light-grey" type="text">

            <button class="w3-button w3-grey w3-margin">Modifier</button>
              
        </form>
    </div>
        
{% endblock %}