{% extends "frontoffice/layout.html.twig" %}

{% block content %}
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>


            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{asset('images/fondUni.jpg')}}" alt="fondUniforme">
                <div class="carousel-caption">
                  <h2>NOTRE MÉTIER</h2>
                  <p>La distribution des solutions de sécurité avec une forte valeur ajoutée : l’accompagnement total de l’installateur de l’étude du cahier des charges à la fourniture de matériel jusqu’aux prestations techniques comme la mise en service.</p>
                </div>
              </div>
              <div class="item">
                <img src="{{asset('images/fondUni.jpg')}}" alt="fondUniforme">
                <div class="carousel-caption">
                  <h2>NOTRE MISSION</h2>
                  <p>Analyser tous les types de besoins en détection incendie, sûreté et santé pour garantir la sécurité des bâtiments recevant du public.</p>
                </div>
              </div> 
              <div class="item">
                <img src="{{asset('images/fondUni.jpg')}}" alt="fondUniforme">
                <div class="carousel-caption">
                  <h2>NOS FORCES</h2>
                  <p>Une équipe de techniciens mobiles, une parfaite maîtrise de l’environnement normatif, notre capacité à vous conseiller tout au long de votre projet, des marques partenaires reconnues, notre stock de plus de 10 000 références.</p>
                </div>
              </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
        </div>
{% endblock %}

