{% extends "backoffice/layout.html.twig" %}

{#{% block title 'Tableau de bord' %}#}

{% block title %}
{% endblock %}
    
{% block content %}

    <h2 class="w3-teal">Supprimer une publication</h2>
        
{% endblock %}