body{
	font-family: 'Old Standard TT', serif;
        max-width: 100%;
      
}
header {
	min-height: 100px;
        
        
}

#menu ul li a {
	color: black;
	margin-right: 10px;
	position: relative;
	top: 40px;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
#menu ul li a:hover{
	color: red;
}
.carousel-inner img {
	display: block;
  	max-width: 100%;
	/*margin-left: 3%;*/
  	height: auto;
  	margin: 0;
}
main{
    width: 100%;
    min-height: 700px;
    
}
div.mainAccueil{
     width: 100%;
    min-height: 700px;
    background-image: url("../../images/fondUni.jpg");
    
}
footer {
	border-top: 1px solid black;
	
        
        
}
i.material-icons{
    position: relative;
    left: 91px;
}
div.col-md-4.col-sm-6{
    border: 1px solid white;
    background: lightcoral;
    height: 450px;
    position: relative;
    right: 16px;
   
}
div.col-md-4.col-sm-6>a{
    text-decoration: none;
    color: white;
}
div.col-md-4.col-sm-6>a:hover{
    text-decoration: none;
    color: #07558b;
}


div#containerAccueil{
    border: 1px solid black;
    margin-top: 20px;
    min-height: 600px;
    border-radius: 58px 58px 58px 58px;
    background: #5e5e5e;
    
}
div#mainInscription{
    width: 100%;
    min-height: 700px;
    background-image: url("../../images/fondUni.jpg");
}
div#mainInscription form{
   width: 25%;
   max-height: 50%;
   color: white;
   display: inline-block;
}
input.form-control{
    display: inline-block;
}

footer h5 {
	display: inline-block;
	font-weight: bold;
	float: right;
}
div#conversation{
    position: fixed;
    top: 47%;
    left: 82%;
    background: lightblue;
    max-width: 25%;
    min-height: 280px;
    border-radius: 12px 12px 12px 12px;
    width: 266px;
}
textarea.form-control{
    width: 200px;
}
div#messages{
    width: 200px;
}
