{% extends "backoffice/layout.html.twig" %}

{#{% block title 'Tableau de bord' %}#}

{% block title %}
{% endblock %}
    
{% block content %}
    <div class="w3-col l3">Marge</div>

    <div class="w3-border w3-border-blue w3-card w3-col l6 w3-margin-top" id="displayAccfArea">
        <form class="w3-container" id="employeeForm">

            <h2 class="w3-teal">Ajouter un employé</h2>

            <label>Prénom</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Nom</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Email</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Téléphone</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Fonction</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Photo</label>
            <input class="w3-border w3-input w3-light-grey" type="file">
            <label>Niveau d'accès</label>
            <input class="w3-border w3-input w3-light-grey" type="text">
            <label>Agence</label>

            <select class="w3-border w3-select" name="agency">
                <option value="92">Agence Ile-de-France</option>
                <option value="69">Agence Rhône-Alpes</option>
            </select>

            <button class="w3-button w3-grey w3-margin">Ajouter</button>
              
        </form>
    </div>
        
{% endblock %}