{% extends "backoffice/layout.html.twig" %}

{#{% block title 'Tableau de bord' %}#}

{% block title %}
    <h1>Tableau de bord</h1>
{% endblock %}
    
    
{% block content %}
    <div class="w3-border w3-border-green w3-col l3 w3-margin dashboardContent">Gestion des produits</div>
{% endblock %}