{% extends "backoffice/layout.html.twig" %}

{#{% block title 'Tableau de bord' %}#}

{% block title %}
    <h1>Afficher la liste des commandes</h1>
{% endblock %}

{% block content %}
    <table class="w3-centered w3-padding w3-table-all">
        <tr>
            <th>Numéro de commande</th>
            <th>Numéro de client</th>
            <th>Référence produit</th>
            <th>Service</th>
            <th>Date de commande</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>Détecteur de fumée</td>
            <td>Contrat de maintenance</td>
            <td>11 décembre 2017</td>
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>Caméra de surveillance</td>
            <td>Formation</td>
            <td>12 décembre 2017</td>
        </tr>
    </table>

{% endblock %}