{% extends "backoffice/layout.html.twig" %}

{#{% block title 'Tableau de bord' %}#}

{% block title %}
    <h1>Afficher les détails d'un employé</h1>
{% endblock %}
    
    
{% block content %}
    <div class="w3-border w3-border-green w3-col l3 w3-margin dashboardContent">Afficher les détails d'un employé</div>
{% endblock %}